.css-1mirf4-MuiButtonBase-root-MuiButton-root {
  padding: 4px 16px !important;
  margin-left: 20px !important;
}

.css-nsn3n9-MuiModal-root-MuiPopover-root-MuiMenu-root .MuiPaper-root {
  margin-top: 0 !important;
  min-width: 164px !important;
  width: 164px;
}